<?xml version="1.0" encoding="UTF-8" ?>
<document>
  <menuBarTemplate>
    <menuBar>
      <menuItem template="tvml/Parade.xml.js" presentation="menuBarItemPresenter">
        <title>Tab 1</title>
      </menuItem>
      <menuItem template="tvml/Catalog.xml.js" presentation="menuBarItemPresenter">
        <title>Tab 2</title>
      </menuItem>
    </menuBar>
  </menuBarTemplate>
</document>